<div class="panel panel-default">
    <div class="panel-body home_bg instruction">
        <h1>Home Spotify instructions</h1>
        <br/>
        <p>
            On the left pane are listed all the exercises you need to complete.
            <br/>
            For each exercise, there are:
        </p>
        <ul>
            <li>
                general instructions given in the section <img src="images/Instructions.png" class="img-rounded">
            </li>
            <li>
                results display in the section
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="images/Results.png" class="img-rounded">
            </li>
            <li>
                hints for the exercise in the section
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="images/Hints.png" class="img-rounded">
            </li>
            <li>
                solution for the exercise in the section
                &nbsp;
                <img src="images/Solution.png" class="img-rounded">
            </li>
        </ul>

        <p>
            In each <img src="images/Results.png" class="img-rounded"> section, you can see a result area like <img src="images/ResultsCheck.png" class="img-rounded">
            telling you whether
            <br/>
            <br/>
            the exercise has been successfully completed or not.
            Use the <img src="images/Reload.png" class="img-rounded"> button between each attempt to check for the display
        </p>
    </div>

</div>